<!DOCTYPE html>
<html>
<head>
  <title>{{title}} {{req.we.config.appName}}</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

  {{#if _csrf}}<meta name="csrf-token" content="{{_csrf}}" />{{/if}}

  {{{render-metadata-tags}}}
  {{{render-stylesheet-tags}}}
  {{{render-javascript-tags 'header'}}}
</head>
<body>
  {{we-event event="we-html-body-start"}}
  {{{template 'partials/header'}}}
  {{{layoutHtml}}}
  {{{template 'partials/footer'}}}
  {{we-event event="we-html-body-end"}}
</body>
</html>